<%= render 'shared/page_title', title: @recipe.name %>
<div class="row">
    <div class="col-md-4 pull-right center">
        <%= link_to chef_path(@recipe.chef) do %>
            <%= gravatar_for @recipe.chef, size: 200 %>
        <% end %>
        <p>
            <h5>Brought to you by <%= @recipe.chef.chefname %></h5>
        </p>
    </div>
    <div class="col-md-8 ">
        <% if logged_in? and @recipe.chef == current_user %>
            <%= link_to 'Edit this recipe', edit_recipe_path(@recipe), class: 'btn btn-success pull-right' %>
        <% end %>
        <h3><%= @recipe.summary %></h3>
        <div class="show_recipe">
            <%= image_tag(@recipe.picture.url, size: "250x250", class: "gravatar") if @recipe.picture? %>
        </div>
        <div class="well">
            <% if @recipe.styles.any? %>
                <p>Style: <% @recipe.styles.each do |style| %>
                    <%= link_to style.name, style_path(style) %>
                    <% end %>
                </p>
            <% end %>
            <% if @recipe.ingredients.any? %>
                <p>Ingredient: <% @recipe.ingredients.each do |ingredient| %> 
                    <%= link_to ingredient.name, ingredient_path(ingredient) %>
                    <% end %>
                </p>
            <% end 5>
            <p>
                <strong>Steps:</strong>
            </p>
            <%= simple_format(@recipe.description) %>
            <div class="pull-right">
                <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp 
                <% end %>&nbsp&nbsp&nbsp
                <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>&nbsp 
                <% end %>
            </div>
        </div>
    </div>
</div>

<%= link_to 'Recturn to recipes listings', recipes_path, class: 'btn btn-warning btn-small ' %>