<%= render 'shared/page_title', title: "Recipes for " +  @style.name + " food" %>
<ul class="nav nav-tabs">
    <li class="active">
        <%= link_to 'Recipes', recipes_path %>
    </li>
    <li>
        <%= link_to 'Chefs', chefs_path %>
    </li>
</ul>
<%= will_paginate @recipes %>
<% @style.recipes.each do |recipe| %>
    <div class="row">
        <div class="col-md-2">
            <section class="chef_info center">
                <%= link_to chef_path(recipe.chef) do %>
                    <%= gravatar_for recipe.chef, size: 100 %>
                <% end %>
                <h5>Chef name:<%= recipe.chef.chefname %></h5>
            </section>
        </div>
        <div class="col-lg-6 well">
            <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
            <p><%= recipe.summary %></p>
            <p>Style: <% recipe.styles.each do |style| %>
                <%= link_to style.name, style_path(style) %>
                <% end %>
            </p>
            <p>Ingredient: <% recipe.ingredients.each do |ingredient| %> 
                <%= link_to ingredient.name, ingredient_path(ingredient) %>
                <% end %>
            </p>
            <p>
                <span class="quite"><small> created: <%= time_ago_in_words(recipe.created_at) %> ago, </small></span>
                <span class="quite"><small> updated: <%= time_ago_in_words(recipe.updated_at) %> ago </small></span>
            </p>
            <div class="pull-right">
                <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp&nbsp 
                <% end %>
            </div>
             <div class="pull-right">
                <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>&nbsp&nbsp
                <% end %>
            </div>
        </div>
        <div class="col-md-4">
            <%= image_tag(recipe.picture, size: "250x150", class: "gravatar") if recipe.picture? %>
        </div>
    </div>
    <hr />
<% end %>
<%= will_paginate @recipes %>