<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "myRecepies", root_path , class: "btn btn-lg btn-success", id: "logo" %>
    <div class="nav_item">
       <div class="dropdown">
         <button class="btn btn-failure dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
         Ingredients
         <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
           <% Ingredient.all.each do |ingredient| %>
             <li><%= link_to ingredient.name, ingredient_path(ingredient)  %></li>
           <% end %>
           <% if logged_in? %>
             <li role="separator" class="divider"></li>
             <li><%= link_to "New ingredient", new_ingredient_path %></li>
           <% end %>
        </ul>
      </div>
    </div>
    <div class="nav_item">
      <div class="dropdown">
         <button class="btn btn-failure dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
         Styles
         <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
           <% Style.all.each do |style| %>
             <li><%= link_to style.name, style_path(style)  %></li>
           <% end %>
           <% if logged_in? %>
             <li role="separator" class="divider"></li>
             <li><%= link_to "New style", new_style_path %></li>
           <% end %>
        </ul>
      </div>
    </div>
    <% if logged_in? %>
      <div class="nav_item">
        <%= link_to "New recipe", new_recipe_path, class:"btn btn-default btn-warning" %>
      </div>
      <div class="dropdown nav_item">
         <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
         <%= current_user.chefname %>
         <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
           <li><%= link_to 'View profile', chef_path(current_user) %></li>
           <li><%= link_to 'Edit profile', edit_chef_path(current_user) %></li>
           <li role="separator" class="divider"></li>
           <li><%= link_to 'Logout', logout_path %></li>
        </ul>
      </div>
    <% else %>
      <div class="nav_item">
        <%= link_to "LogIn", login_path, class:"btn btn-default btn-success" %>
      </div>
    <% end %>
  </div>
</header>